@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

$base-font-size: rem-calc(16);
$base-font-family: 'Open Sans', sans-serif;

$heading-font-family: 'Roboto', sans-serif;
$h1-font-size: rem-calc(30);
$h2-font-size: rem-calc(22);
$h3-font-size: rem-calc(18);
